.movie-page{
    color: aliceblue;  /* change the text colors later when layout is done */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-page img{
    width: 80%;
}

.movie-overview{
    text-align: center;
    padding: 0 1rem;
}

.plot-text{
    margin-top: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

@media (min-width:768px){
    .buttons{
        display: grid;
    grid-template-columns: 1fr 1fr;
    }


    .movie-page{
        justify-content: space-between;
        padding: 0 2rem;
        gap: 1rem;
        padding-top: 1rem;
    }
    
    .movie-page img{
        width:40%;
    }

    .movie-overview{
        width: 53%;
        text-align: left;
        padding-left: 0;
    }

    .movie-overview h2{
        font-size: 2.5rem;
        margin: 0;
    }

    .plot-text{
        padding: 0;
    }
}

@media (min-width:1024px){
    .movie-overview{
        height: fit-content;
    }

    .movie-page{
        justify-content: flex-start;
        gap: 2rem;
        row-gap: 1rem;
    }

    .movie-page img{
        width: 15%;
    }
    .movie-overview h2{
        font-size: 3rem;
    }
    .movie-overview p{
        font-size: larger;
    }
    .plot-text{
        font-size: larger;
    }

}