body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f1629;
}

header{
    display: grid;
    text-align: center;
    width: 100%;
}

header h1 a{
    color: #f9a132;
    text-decoration: none;
}
header h1{
    background-color: #1d283a;
    margin: 0;
     /* padding-bottom: 1rem; */
    color: #f9a132;
    padding:  1.5rem 0;
}

header nav{
    background-color: #0f1629;
    padding-top: 1rem;
}

#search::placeholder{
    color: grey;
}

#search{
    width: 90%;
    background-color: #324054;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    margin-top: 1rem;
}

#search-button{
    background-color: #3c7bf1;
}

#fav-button{
    background-color: #465468;
}

.buttons a{
   margin: 0 1rem;
   width:auto;
   /* border: solid 1px black; */
   padding: 0.5rem;
   color: white;
   text-decoration: none;
   font-weight: bolder;
   border-radius: 10px;
}

.movie-tiles-field{
    display: flex;
    flex-wrap:wrap;
    background-color: #0f1629;
    gap: 1rem;
    margin: 0 1rem;
    justify-content:flex-start;
    row-gap: 2rem;
}

.movie-card{
    display: grid;
    /* padding: 1rem; */
    grid-template-columns: 108px 1fr;
    width: 100%;
    /* width: 20rem;  */
    background-color: #1d283a;
    height: 10rem;
    color: #78869a;
    gap: 1rem;
    /* height: 200px; */
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden; 
    
}


.poster{
    /* height: 50%; */
    /* width: 1rem; */
    /* height: 100%; */
    width: 108px;
    /* padding: 1rem; */
    /* margin: 0.2rem; */
    object-fit:scale-down;
    border-radius: 7px;

}


.movie-details{
    height: 200px;
    padding-top: 0.65rem;
    padding-right: 3px;
}

.movie-details h2{
    font-size: 1.5rem;
    color: white;
    margin:0 ;
}

.movie-details p{
    font-size: 1rem;
}

